<div class="container-fluid">
  <div class="row" id="headerColor">
    <div class="col-md-12"><a href='#/'><img src="images/dc-roasters.png" alt="" /></a></div>
  </div>

  <div class="row" id="box">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="loginBox">
        <br><br>
        <p style="font-size: 2em;">Login</p>
        <p>____________________</p>
        <p>Username:</p>
        <input type="text" name="Username" placeholder="Username" ng-model="username"><br>
        <br><p>Password:</p>
        <input type="password" name="Password" placeholder="Password" ng-model="password">
        <br><br>
        <input type="submit" name="submit" value="Login" ng-click="login()">
        <br><br>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
