body {
  font-family: 'Questrial', sans-serif;
}

#image1 {
  background-image: url('coffee.jpg');
  background-position: 80% 75%;
  background-size: cover;
  min-height: 450px;
  min-width: 450px;
  padding: 100px 30px 0px 50px;
}

#image2 {
  background-image: url('coffee-bags.jpg');
  background-position: top;
  min-height: 400px;
  min-width: 450px;
  padding: 100px 30px 0px 50px;
  background-repeat: no-repeat;
}

#text {
  text-align: center;
  font-size: 3em;
}

.grower {
  margin: 100px;
  width: 50%;
  height: 50%;
  transform: rotate(-15deg);
}

#justColorRows {
  background-image: url(ricepaper_v3.png);
  font-family: 'Questrial', sans-serif;
}

#image3 {
  background-image: url('cup-steam.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  max-width: 300%;
}

#footer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#headerColor {
  background-image: url(ricepaper_v3.png);
}

#headerShadow {
  background-image: url(ricepaper_v3.png);
  box-shadow: 3px 3px 3px  grey;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-family: 'Questrial', sans-serif;
}

.nav-link:hover {
  color: grey;
  background-image: url(ricepaper_v3.png);
}

.loginBox {
  text-align: center;
  box-sizing: border-box;
  border: black solid 1.5px;
  background-image: url(wov.png);
  box-shadow: 5px 5px 5px grey;
}

#box {
  margin-top: 10%;
}

.optionsImage {
  height: 175px;
  width: 250px;
}

.loginButton {
  margin-left: 25px;
  margin-bottom: 25px;
  text-align: right;
}

.resizedTextbox {
  width: 400px;
}

th {
  padding-top: 10px;
}

td {
  text-align: left;
  font-size: 1.2em;
}

th {
  font-size: 1.5em;
  text-decoration: underline;
}

.parent {
  display: table;
  height: 400px;
  overflow: hidden;
}

.child {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  font-family: 'Questrial', sans-serif;
}

.homepageText {
  font-size: 1.75em;
}

.logo {
  margin: 20px;
}

.form-group {
  position: relative;
  left: 25%;
}

button {
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 2px grey;
}

button:hover {
  text-decoration: none;
  box-shadow: 2px 2px 2px black;
}

button:active {
  text-decoration: none;
  box-shadow: 1px 1px 1px black;
}

.parent2 {
  display: table;
  height: 150px;
  overflow: hidden;
}

.child2 {
  display: table-cell;
  vertical-align: bottom;
  font-size: 1.1em;
  font-family: 'Questrial', sans-serif;
}
